name: Publish

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  CARGO_TERM_COLOR: always

jobs:

  publish:
    runs-on: ubuntu-latest
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2.2.1
        with:
          workspaces: markdown_to_html
    
      - name: Build
        working-directory: markdown_to_html
        run: cargo build --release

      - name: Generate
        run: ./markdown_to_html/target/release/markdown_to_html

      - name: Setup
        uses: actions/configure-pages@v4
        
      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
          
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
